.navigation {
  margin: var(--spacing-md) 0;
  display: flex;
  justify-content: center;
  
  .navigation-list {
    list-style: none;
    display: flex;
    gap: var(--spacing-xs);
    background-color: var(--card-color);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-xs);
    box-shadow: var(--shadow-sm);
    border: 1px solid var(--border-color);
  }
  
  .navigation-item {
    // flex: 1;
    text-align: center;
    
    &:first-child {
      .navigation-link {
        border-top-left-radius: var(--border-radius-sm);
        border-bottom-left-radius: var(--border-radius-sm);
      }
    }
    
    &:last-child {
      .navigation-link {
        border-top-right-radius: var(--border-radius-sm);
        border-bottom-right-radius: var(--border-radius-sm);
      }
    }
  }
  
  .navigation-link {
    display: block;
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--text-secondary);
    text-decoration: none;
    font-size: var(--font-size-sm);
    font-weight: 500;
    transition: all var(--transition-normal);
    border-radius: var(--border-radius-sm);
    
    &:hover {
      background-color: var(--border-light);
      color: var(--text-primary);
    }
    
    &.navigation-item-active {
      background-color: var(--primary-color);
      color: white;
      box-shadow: var(--shadow-sm);
      
      &:hover {
        background-color: var(--primary-hover);
        color: white;
      }
    }
  }
}
