.virtual-list-fixed-page {

    .virtual-list-fixed-page-item {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        height: 60px;
        display: flex;
        align-items: center;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .virtual-list-fixed-page-item-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .virtual-list-fixed-page-item-content-name {
                font-size: 16px;
                font-weight: bold;
            }
            .virtual-list-fixed-page-item-content-email {
                font-size: 14px;
                color: #666;
            }
        }
    }
    &:last-child {
        border-bottom: none;
    }
}